.registerFormContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
    margin: 4em auto;
    color: var(--dark-green);
    border-radius: 0.5em;
    /* border: 1px solid var(--dark-green); */
    box-shadow: 0 0 0.4em var(--dark-green);
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    background-color: var(--lightest-green);
    padding: 3em;
}

.createWrapper{
    display: flex;
    flex-direction: column;

justify-content: center;
align-items: center;
}

.registerFormContainer legend {
    font-size: 2em;
    font-weight: bold;
}

.registerForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.registerForm label {
    font-size: 1.2em;
}

.registerForm input {
    padding: 0.5rem;
    border: 1px solid var(--dark-green);
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 0.5em;
}

.invalidField {
    border-color: var(--dark-orange);
    /* background-color: #fff8f1;  */
    background-color: var(--lighter-orange);
  }

  .registerForm select {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--dark-green);
  border-radius: 5px;
  font-size: 1rem;
  font-family: inherit;
  margin-bottom: 1rem;
  background-color: white;
  color:var(--dark-green);
}

.title{
    text-align: center;
}

.red{
    color: var(--dark-orange);
}

.fieldHint {
  font-size: 0.8em;
  color: var(--dark-green);
  margin-top: -1em;
  margin-bottom: 0.8em;
}

.imagePreviewItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px 0;
}

.imagePreviewItem button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.5em;
  width: fit-content;
  padding: 0.4em 0.2em;
  color: var(--dark-orange);
}


.imagePreviewItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;}



  @media (max-width: 768px) {
    .registerFormContainer {
        width: 100%;
        padding: 2em;
        /* margin: 0; */
    }

    .registerForm label {
        font-size: 1em;
    }

    .registerForm p{
        font-size: 0.7em;
    }

    .registerForm button {
        font-size: 1em;
    }
    
  }
  