.registerFormContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 40%;
    margin: 4em auto;
    color: var(--dark-green);
    border-radius: 0.5em;
    /* border: 1px solid var(--dark-green); */
    box-shadow: 0 0 0.4em var(--dark-green);
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */

    padding: 4em;
}

.registerFormContainer legend {
    font-size: 2em;
    font-weight: bold;
}

.registerForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.registerForm label {
    font-size: 1.2rem;
}

.registerForm input {
    padding: 0.5rem;
    border: 1px solid var(--dark-green);
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 0.5em;
}

.invalidField {
    border-color: var(--dark-orange);
    /* background-color: #fff8f1;  */
    background-color: var(--lighter-orange);
  }

  .registerForm select {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--dark-green);
  border-radius: 5px;
  font-size: 1rem;
  font-family: inherit;
  margin-bottom: 1rem;
  background-color: white;
  color:var(--dark-green);
}

.title{
    text-align: center;
}

.red{
    color: var(--dark-orange);
}

.fieldHint {
  font-size: 0.8em;
  color: var(--dark-green);
  margin-top: -1em;
  margin-bottom: 0.8em;
}






  @media (max-width: 768px) {
    .registerFormContainer {
        max-width: 90%;
        padding: 2em;
        /* margin: 0; */
    }
    
  }
  