.mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.mainNavList {
    display: flex;
    align-items: center;
    padding: 0;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.mainNavList li {
    list-style: none;
    margin: 0 1em;
    font-size: 1.2rem;
    font-weight: normal;
    position: relative;
}

.userGreeting {
    font-size: 1.2rem;
    color: var(--dark-green);
}

.mainNavList li a {
    text-decoration: none;
    color: var(--dark-green);
}

.mainNavList li a:hover {
    color: var(--dark-orange);
}

.menuItem {
    text-decoration: none;
    color: var(--dark-green);
    padding: 0.5rem;
    display: inline-block;
}

.menuItem:hover {
    color: var(--dark-orange);
}

.subNavList {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 1rem;
    list-style: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 100;
    min-width: 200px;
}

.subNavList li {
    margin: 0.6rem 0;
    font-size: 1.2rem;
}

.hasSubmenu:hover .subNavList {
    display: block;
}

.searchForm {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
}

.searchInput {
    padding: 0.3em 0.8em;
    border: 1px solid var(--dark-green);
    border-radius: 0.5em;
    font-size: 1.2rem;
    color: var(--dark-green);
    background-color: white;
}

.searchInput:focus {
    outline: none;
    box-shadow: 0 0 0 0.8px var(--dark-green);
}

.searchBtn {
    padding: 0.5em 0.8em;
    border: 1px solid var(--dark-green);
    border-radius: 0.5em;
    font-size: 1.2rem;
    color: var(--dark-green);
    background-color: white;
    cursor: pointer;
}

.searchBtn:hover {
    background-color: var(--dark-orange);
    border: 1px solid var(--dark-orange);
    color: white;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

.basketGreen:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.2);
}

.breadcrumb {
    padding: 0.6em;
}

.breadcrumb p {
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    color: var(--light-green);
    display: inline-block;
    border-top: 1px solid var(--light-green);
    border-bottom: 1px solid var(--light-green);
}

/* -------------------- МОБИЛНИ СТИЛОВЕ -------------------- */
@media (max-width: 768px) {


    .mainNav {
        flex-direction: row;
        align-items: stretch;
        gap: 1rem;
        padding: 1rem;
    }

    .headerTop {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logoContainer img {
        flex: 0 1 70%;
    }

    .hamburgerBtn {
        max-width: 15%;
        display: block;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        background-color: none;
    }

    .hamburgerBtn img {
        height: 24px;
    }

    
    .searchForm {
        justify-content: flex-start;
        align-items: center;
        display: flex;
        flex: 1;
    }

    .searchInput {
        font-size: 1rem;
        padding: 0.3em 0.6em;
    }

    .searchBtn {
        padding: 0.3em 0.6em;
    }

    .searchBtn img {
        height: 20px;
        width: 20px;
    }

    .basketGreen {
        height: 28px;
    }

    .mainNavList {
        display: none;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0;
    }

    .showMenu {
        display: flex !important;
    }

    .subNavList {
        position: static;
        margin-left: 1rem;
        background: none;
        box-shadow: none;
        padding: 0;
    }

    .subNavList li {
        font-size: 1rem;
    }
}

/* Скрива hamburger на десктоп */
@media (min-width: 769px) {
    .hamburgerBtn {
        display: none;
    }
}