.deleteContainer {
  padding: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons {
  margin-top: 2em;
  display: flex;
  gap: 2em;
  justify-content: center;
}

.deleteBtn {
  background-color: var(--dark-orange);
  color: white;
  padding: 0.6em 1.2em;
  border-radius: 0.5em;
  cursor: pointer;
}

.cancelBtn {
  background-color: var(--light-green);
  color: white;
  padding: 0.6em 1.2em;
  border-radius: 0.5em;
  cursor: pointer;
}

.message {
  text-align: center;
  padding: 2em;
  font-size: 1.2em;
}

.error {
  color: red;
  text-align: center;
  padding: 2em;
}
