:root {
    --yellow:#FCD34C;
    --light-yellow: #fbf1d9;
    --light-yellow-transparent: rgba(251, 241, 217, 0.7);

    --light-green: #4bd0ae;
    --lighter-green: #E4F8F3;
    --light-green-transparent: rgba(75, 208, 174, 0.15);
    --dark-green: #01664d;

    --light-orange: #FFD1A0;
    --light-orange-transparent: rgba(255, 209, 160, 0.7);
    --dark-orange: #FF6F61;

    --white-transparent: rgba(255, 255, 255, 0.7);

}
