.product-details {
  display: flex;
  gap: 4em;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-image: url('./background.wpg');
}

.product-describtion-continer{
    flex: 1 0 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.review-container{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
}

.fa-star{
    color: var(--yellow);
    font-size: 1.5em;
}

.review-counter{
    margin: 0;
    padding: 0;
}

.review-link{
    text-decoration: none;
    color: var(--dark-green);
    font-size: 1.2em;
}

.product-description-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-details-body-tabs-container{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-transform: uppercase;
    margin: 0 0 2em 0;
    padding: 0;

}



.product-details-body-tabs-container a{
    background-color: var(--light-green-transparent);
    color: var(--dark-green);
    padding: 0.5em 1.2em;
    text-decoration: none;
    /* color: var(--dark-green); */
}

.product-details-body-tabs-container a:hover, .product-details-body-tabs-container a:active{
    background-color: var(--dark-green);
    color: white;
}

.product-description-body p{
    max-width: 50%;
    font-size: 1.2em;
}

a.put-in-cart-link{
    text-decoration: none;
        color: var(--dark-green);
        font-size: 1.2em;
        font-weight: bold;
        padding: 0.3em 0.8em;
        /* background-color: var(--light-green); */
        border: 1px solid var(--dark-green);
        border-radius: 0.5em;
        transition: all 0.3s ease-in-out;
    }
    
    a.put-in-cart-link:hover{
        background-color: var(--light-green);
        color: white;
    }

.product-details-images-container{
    flex: 0 1 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3em;
}

.product-details-images-container img{
    width: 100%;
    border-radius: 0.5em;
    overflow: hidden;
    /* border: 1px solid var(--light-green); */
}

.product-details-main-image{
    width: 100%;
}

.connected-products-container{
    flex: 0 1 30%;
    border: 1px solid var(--dark-green);
    /* border-radius: 0.5em; */
    padding: 0.5em;
}

.connected-products-container:hover{
    background-color: var(--light-green-transparent);
}

.similar-products-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
}

.similar-products-heading{
    width: 100%;
    margin: 0;
}

.connected-product-link{
    text-decoration: none;
}

