  @import url('./colors.css');

  body {
      max-width: 1920px;
      margin: 0 auto;
      border: 1px;
      /* background-color: var(--light-yellow); */
  }

  header {
      position: sticky;
      top: 0;
      z-index: 1000;
      /* background-color: var(--light-yellow); */
      background-color: white;
      padding: 1.5em 3em;
  }

  nav{
      display: flex;
      gap: 3em;
      justify-content: space-between;
      align-items: center;

  }

  .main-nav-list{
      display: flex;
      padding: 0;
  }

  .main-nav-list li{
      list-style: none;
      margin: 0 2em;
      font-size: 1.2rem;
      font-weight: normal;
  }

  .search-form{
      display: flex;
      gap: 0.5em;
      align-items: center;
      justify-content: center;
  }

  .search-input{
      padding: 0.3em 0.8em;
      border: 1px solid var(--dark-green);
      border-radius: 0.5em;
      font-size: 1.2rem;
      color: var(--dark-green);
      /* background-color: var(--light-yellow); */
  }

  .search-input:focus {
      outline: none;
      box-shadow: 0 0 0 0.8px var(--dark-green);
    }

  .search-button{
      padding: 0.3em 0.8em;
      border: 1px solid var(--dark-green);
      border-radius: 0.5em;
      font-size: 1.2rem;
      color: var(--dark-green);
      background-color: white;
      /* background-color: var(--light-yellow); */
      cursor: pointer;
  }

  .search-button:hover{
      background-color: var(--dark-orange);
      border: 1px solid var(--dark-orange);
      color: white;
      transition: all 0.3s ease-in-out;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      transform: scale(1.05);
  }

  .fa-cart-shopping{
      font-size: 2rem;
      color: #4bd0ae;
      margin-left: 1.5rem;
      cursor: pointer;
  }

  .main-nav-list li a, .fa-cart-shopping{
      text-decoration: none;
      color: var(--dark-green);;
  }

  .main-nav-list li a:hover, .fa-cart-shopping:hover{
      color: var(--dark-orange);;
      text-decoration: underline;
  }

  /* Скриваш подменюто по подразбиране */
  .sub-nav-list {
      display: none;
      position: absolute;
      /* background-color: #fff1cd; */
      background-color: white;
      padding: 1rem;
      list-style: none;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      border-radius: 8px;
      z-index: 10;
    }

    .sub-nav-list li {
      margin: 0.6rem 0;
      font-size: 1.2rem;
    }
    
    /* Показваш подменюто при hover върху родителския <li> */
    .has-submenu:hover .sub-nav-list {
      display: block;
    }
    
    /* За да се позиционира правилно */
    .has-submenu {
      position: relative;
    }

    .breadcrumb {
      padding: 0.6em;
  }

  .breadcrumb p{
      padding: 0;
      margin: 0;
      font-size: 1.1rem;
      color:var(--light-green);
      display: inline-block;
      border-top: 1px solid var(--light-green);
      border-bottom: 1px solid var(--light-green);
      }
      
      main{
        margin: 2em auto;
      }

    footer{
      /* background-color:var(--dark-green);; */
      border-top: 1px solid var(--light-green);;
      color: var(--dark-green);
      padding: 2em 3em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5em;

    }

    footer p{
      font-size: 1.2rem;
      font-weight: normal;
      margin: 0;
      padding: 0;
    }

    @media screen and (max-width: 768px) {
      header {
          padding: 1em 2em;
      }

      nav{
          flex-direction: column;
          gap: 2em;
      }

      .main-nav-list{
          flex-direction: column;
          gap: 1em;
      }

      .main-nav-list li{
          margin: 0;
      }

      .search-form{
          flex-direction: column;
          gap: 1em;
      }

      .search-input, .search-button{
          width: 100%;
      }

      footer{
          flex-direction: column;
          align-items: center;
          gap: 2em;
      }
      
    }
    